
html {
    font-size: 22px;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
nav li{
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
}
h1 {
    background-color: #ff99cc;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.What, .When, .Where {
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
    
}
.WhatImage, .WhenImage, .WhereImage {
    width: 15%;
    display: inline-block;
}
.WhereImage {
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
}
.map {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}
p {
    display: inline-block;
    width: 45%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.gallery {
    max-width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.gallery img {
    width: auto;
    max-height: 200px;
    padding: 0;
    margin: 0;
}
.Main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}